.advantage-list {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: inherit;
  color: #000000;
  list-style-type: none;
}

.advantage-list__item {
  padding-top: 15px;
  background-color: #ffffff;
}

.advantage-list__item-img {
  width: 40px;
  height: 38px;
}

.advantage-list__item-title {
  font-size: $title-font-size;
  color: #000000;
}

.advantage-list__item-subtitle {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantage-list {
    width: 768px;
    display: flex;
    justify-content: space-between;
  }

  .advantage-list__item {
    display: flex;
    width: 256px;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .advantage-list__item-img {
    width: 78px;
    height: 72px;
  }

  .advantage-list__item-subtitle {
    width: 190px;
    text-align: center;
  }
}


@media (min-width: $desktop-width) {
  .advantage-list {
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  .advantage-list__item {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    padding-top: 69px;
    padding-bottom: 69px;
  }

  .advantage-list__item-img {
    width: 78px;
    height: 72px;
  }

  .advantage-list__item-subtitle {
    width: 300px;
    text-align: center;
  }
}
