.advantage-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: inherit;
  list-style-type: none;
}

.advantage-list__item {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding-left: 18px;
  padding-right: 18px;

  &:nth-child(3) {
    padding-bottom: 40px;
  }
}

.advantage-list__item-wrapper {
  margin-top: 15px;
  margin-left: 10px;
}

.advantage-list__item-title {
  color: #000000;
  font-size: $title-font-size;
  padding: 0;
  line-height: 26px;
}

.advantage-list__item-subtitle {
  color: #333333;
  margin: 0;
  margin-top: 10px;
}

.advantage-list__item-img {
  margin-top: 7px;
}

.advantage-list__item-whitespace {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantage-list {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .advantage-list__item {
    display: flex;
    width: 256px;
    flex-direction: column;
    align-items: center;
    padding: 0;

    &:nth-child(3) {
      padding-bottom: 0;
    }
  }

  .advantage-list__item-wrapper {
    margin-top: 17px;
    margin-left: 0;
    margin-bottom: 64px;
  }

  .advantage-list__item-img {
    width: 76px;
    height: 76px;
    margin: 0;
    margin-top: 60px;
    padding: 0;
  }

  .advantage-list__item-title {
    font-size: 21px;
    text-align: center;
    margin: 0;
    margin-right: 5px;
  }

  .advantage-list__item-subtitle {
    text-align: center;
    margin-left: 0;
    margin-top: 23px;
    margin-right: 6px;
    width: 175px;
  }

  .advantage-list__item-whitespace {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .advantage-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .advantage-list__item {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
  }

  .advantage-list__item-wrapper {
    margin-top: 40px;
    margin-left: 0;
  }

  .advantage-list__item-img {
    width: 78px;
    height: 78px;
  }

  .advantage-list__item-title {
    margin-top: -10px;
  }

  .advantage-list__item-subtitle {
    width: 300px;
    text-align: center;
    margin-top: 25px;
  }
}
