.advantage-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background-color: inherit;
  color: #000000;
  list-style-type: none;
}

.advantage-list__item {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding-left: 18px;
  padding-right: 18px;

  &:last-of-type {
    padding-top: 10px;
    padding-bottom: 55px;
  }
}

.advantage-list__item-img {
  width: 75px;
  height: 75px;
}

.advantage-list__item-wrapper {
  margin-top: 35px;
  margin-left: 10px;
}

.advantage-list__item-title {
  font-size: $title-font-size;
  color: #000000;
  margin: -2px;
  padding: 0;
}

.advantage-list__item-subtitle {
  margin: 0;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .advantage-list {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

  .advantage-list__item {
    display: flex;
    width: 256px;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 55px;

    &:last-of-type {
      padding-top: 50px;
      padding-bottom: 55px;
    }
  }

  .advantage-list__item-img {
    margin: 0;
    padding: 0;
  }

  .advantage-list__item-title {
    font-size: 22px;
    margin-left: -10px;
    text-align: center;
  }

  .advantage-list__item-subtitle {
    width: 180px;
    text-align: center;
    margin-top: 25px;
  }
}


@media (min-width: $desktop-width) {
  .advantage-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .advantage-list__item {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: center;
    padding-top: 69px;
    padding-bottom: 69px;
  }

  .advantage-list__item-img {
    width: 78px;
    height: 72px;
  }

  .advantage-list__item-title {
    margin-top: -18px;
  }

  .advantage-list__item-subtitle {
    width: 300px;
    text-align: center;
    margin-top: 35px;
  }
}
