.benefits {
  position: relative;
}

.benefits__list {
  margin: 0;
  padding: 0;
}

.benefits__item {
  list-style-type: none;
  width: 320px;
  background-color: $background-grey;
  margin: 0;
  padding: 0;
  border-bottom: #d6d6d6 1px solid;

  &--key {
    background-color: $background-blue;
    color: #ffffff;
    border-bottom: none;
  }

  &--first {
    padding-top: 52px;
    background-image: url("/img/main/benefits-item-triagle.svg");
    background-repeat: no-repeat;
    background-position: top;
  }

  &--second {
    padding-top: 22px;
  }

  &--other {
    height: 165px;
  }
}

.benefits__item-title {
  text-align: center;
  padding-top: 20px;
  font-size: $title-font-size;
  margin: 0;
}


.benefits__item-number {
  text-align: center;
  margin-top: 11px;
  margin-bottom: 17px;
}

.benefits__item-subtitle {
  width: 270px;
  text-align: center;
  margin: auto;
  padding-bottom: 40px;
  line-height: 20px;

  &--other {
    width: 250px;
    padding-bottom: 24px;
  }
}

.benefits__item-img-wrapper {
  width: 100%;
}

.benefits__item-img {
  display: block;
  width: 100%;
}

.benefits__item-text {
  margin-top: 1px;

  &--other {
    padding-top: 4px;
  }
}

@media (min-width: $tablet-width) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits__item {
    width: 256px;

    &--first {
      padding-top: 0;
      width: 768px;
      background-image: none;
      justify-content: center;
    }

    &--second {
      padding-top: 0;
      width: 768px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &--other {
      width: 256px;
      height: 256px;
      border: none;
    }
  }

  .benefits__item-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .benefits__item-img-wrapper {
    width: 512px;
  }

  .benefits__item-text {
    width: 260px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 58px;
    margin-left: -2px;

    &--other {
      padding-top: 0;
      margin-top: 50px;
      line-height: 28px;
    }
  }

  .benefits__item-number {
    margin: 0;
    padding: 0;
    margin-top: 18px;
    margin-bottom: 25px;
  }

  .benefits__item-title {
    font-size: 21px;
    width: 150px;
    padding: 0;
    align-self: center;
    text-align: center;
  }

  .benefits__item-subtitle {
    padding: 0;
    margin: 0;
    width: 195px;
    text-align: center;
    margin-left: 30px;

    &--other {
      width: 190px;
    }
  }
}

@media (min-width: $desktop-width) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits__item {
    width: 400px;

    &--first {
      padding-top: 0;
      width: 1200px;
    }

    &--second {
      width: 1200px;
      display: flex;
      justify-content: space-between;
    }

    &--other {
      width: 400px;
      border: none;
    }
  }

  .benefits__item-text {
    width: 400px;
  }

  .benefits__item-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .benefits__item-img-wrapper {
    width: 800px;
  }

  .benefits__item-title {
    margin-top: 6px;
  }

  .benefits__item-subtitle {
    width: 300px;
    margin-top: -5px;
    margin-left: 50px;
  }
}
