.button {
  font-family: "PTSans", sans-serif;
  font-weight: 700;
  font-size: $button-font-size;
  line-height: 26px;
  background-color: $background-blue;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
