.cards-list {
  margin: 0;
  padding: 0;
}

.cards-list__item {
  list-style-type: none;
}

.cards-list__item-img {
  margin-left: 20px;
  margin-right: 20px;
}

.cards-list__item-title {
  font-size: 14px;
  margin: 0;
}

.cards-list__item-author {
  font-size: 12px;
  text-transform: none;
  margin: 0;
}

.cards-list__item-button {
  border: none;
  background-color: #ffffff;
}

.cards-list__item-likes {
  font-size: 14px;
  font-style: bold;
}
