.cards-list {
  padding: 0;
  margin: 0 auto;
}

.cards-list__item {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #e5e5e5;

  &:nth-last-of-type(1) {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
  }
}

.cards-list__item-img {
  display: block;
  width: 100%;
  margin-top: 25px;
}

.cards-list__item-title {
  font-size: 14px;
  margin: 0;
  margin-top: 12px;
}

.cards-list__item-author {
  font-size: 12px;
  text-transform: none;
  margin: 0;
}

.cards-list__item-button {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-top: 15px;
}

.cards-list__item-button-icon {
  fill: #000000;
  opacity: 0.5;
}

.cards-list__item-likes {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}

@media (min-width: $tablet-width) {
  .cards-list {
    width: 648px;
    margin-left: 60px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .cards-list__item {
    width: 324px;
    margin: 0;
    border: none;
    padding: 0;

    &--main {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 1;
      width: 648px;
    }

    &:nth-last-of-type(1) {
      border-bottom: none;
      padding-bottom: none;
    }
  }

  .cards-list__item-img {
    margin-top: 0;
    height: auto;
  }

  .cards-list__item-img-wrapper {
    width: 324px;
    height: 267px;

    &--main {
      width: 100%;
      height: auto;
    }
  }

  .cards-list__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 284px;
    background-color: #f2f2f2;
    height: 80px;

    &--main {
      width: 610px;
    }
  }

  .cards-list__item-title {
    margin-top: 10px;
    margin-left: -2px;
  }

  .cards-list__item-button {
    margin-top: 4px;
  }

  .cards-list__item:nth-child(3) .cards-list__item-wrapper {
    background-color: #eaeaea;
  }
}

@media (min-width: $desktop-width) {
  .cards-list {
    width: 1200px;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .cards-list__item {
    position: relative;
    width: 400px;
    margin: 0 auto;

    &--main {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
      width: 1200px;
    }

    &:nth-last-of-type(1) {
      border-bottom: none;
    }
  }

  .cards-list__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 360px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: absolute;
    top: 188px;
    color: #ffffff;

    &--main {
      width: 1160px;
      top: 320px;
    }
  }

  .cards-list__item-img-wrapper {
    width: 400px;
    height: 267px;

    &--main {
      width: 1200px;
      height: 400px;
    }
  }

  .cards-list__item:nth-child(3) .cards-list__item-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .cards-list__item-likes {
    color: #ffffff;
  }

  .cards-list__item-title {
    margin-top: 2px;
    margin-left: -2px;
  }

  .cards-list__item-button-icon {
    fill: #ffffff;
    opacity: 1;
  }
}
