.copyright {
  margin-top: 34px;
  margin-bottom: 30px;
}

.copyright__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #000000;

  &:hover {
    color: #81b3d2;
    opacity: 0.3;
    fill: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
    fill: #b3b3b3;
  }
}

.copyright__title {
  display: block;
  margin-right: 12px;
}

.copyright__link-icon {
  margin-top: 8px;
}
