.copyright {
  display: flex;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 30px;
}

.copyright__title {
  display: block;
  margin-right: 12px;
}

.copyright__link {
  margin-top: 7px;
}

@media (min-width: $tablet-width) {
  .copyright {
    margin-left: 50px;
  }
}
