.feedback-form {
  border: none;
  padding: 0 20px;
  margin: 0;
  margin-top: 59px;
}

.feedback-form__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.feedback-form__textarea {
  border: none;
  background-color: $background-grey;
  width: 279px;
}

@media (min-width: $tablet-width) {
  .feedback-form {
    padding: 0;
    border-top: 1px solid #dbdbdb;
  }

  .feedback-form__title {
    font-size: 21px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 28px;
  }

  .feedback-form__textarea {
    width: 648px;
    height: 160px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-form__textarea {
    width: 768px;
    height: 160px;
    margin-left: 94px;
    margin-right: 94px;
  }
}
