.footer__title {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  margin-top: 36px;
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
  }

  .footer__copyright-wrapper {
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-top: 3px;
    padding-left: 120px;
    padding-right: 120px;
  }

  .footer__copyright-wrapper {
    align-items: center;
  }
}
