.intro {
  margin-top: 56px;
  position: relative;
}

.intro__content {
  background-image: url("/source/img/images/main/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: 320px 389px;
}

.intro__triagle {
  display: block;
  z-index: 1;
  position: absolute;
  top: 308px;
  left: -450px;
}

.intro__content-slogan {
  width: 240px;
  margin-top: 8px;
  margin-left: 40px;
}

.intro__main-title {
  width: 265px;
  margin: 0;
  margin-top: 32px;
  margin-left: 27px;
  padding: 0;
  text-align: center;
  font-size: $title-font-size;
  font-weight: 700;
  line-height: 26px;
}

.intro__main-description {
  width: 265px;
  text-align: center;
  margin-top: 35px;
  font-weight: 400;
  margin-left: 27px;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-top: 0;
  }

  .intro__content {
    background-image: url("/source/img/images/main/into-bg-t.jpg");
    background-size: 768px 518px;
    padding-bottom: 90px;
  }

  .intro__content-slogan {
    margin-left: 180px;
    margin-top: 75px;
    width: 460px;
    height: 350px;
  }

  .intro__triagle {
    top: 470px;
    left: -210px;
  }

  .intro__main-title {
    width: 524px;
    margin-left: 154px;
  }

  .intro__main-description {
    width: 524px;
    margin-left: 154px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-top: 0;
  }

  .intro__content {
    background-image: url("/source/img/images/main/into-bg-d.jpg");
    background-size: 1200px 589px;
    padding-bottom: 210px;
  }

  .intro__content-slogan {
    margin-top: 85px;
    margin-left: 370px;
  }

  .intro__triagle {
    top: 535px;
    left: 0;
  }

  .intro__main-title {
    width: 524px;
    margin-left: 354px;
  }

  .intro__main-description {
    width: 524px;
    margin-left: 354px;
  }
}
