.intro {
  position: relative;
  margin-top: 58px;
}

.intro__content {
  min-height: 390px;
  background-image: url("/img/main/intro-triangle.svg"), url("/img/main/intro-bg.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-color: #ffffff;
}

.intro__content-slogan {
  width: 280px;
  margin-left: 18px;
  padding-top: 18px;
  display: block;
}

.intro__main-title {
  width: 265px;
  margin: 0;
  margin-top: 32px;
  margin-left: 27px;
  padding: 0;
  text-align: center;
  font-size: $title-font-size;
  font-weight: 700;
  line-height: 26px;
}

.intro__main-description {
  width: 265px;
  text-align: center;
  margin-top: 38px;
  margin-left: 27px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-top: 0;
  }

  .intro__content {
    min-height: 518px;
    background-image: url("/img/main/intro-triangle-d.svg"), url("/img/main/intro-bg-t.jpg");
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("/img/main/intro-triangle-d.svg"), url("/img/main/intro-bg-t@2x.jpg");
    }
  }

  .intro__content-slogan {
    margin-left: 125px;
    padding-top: 75px;
    width: 500px;
    height: 350px;
  }

  .intro__main-title {
    font-size: 21px;
    width: 524px;
    margin-top: 52px;
    margin-left: 115px;
  }

  .intro__main-description {
    width: 524px;
    margin-top: 28px;
    margin-left: 120px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-top: 0;
  }

  .intro__content {
    background-image: url("/img/main/intro-triangle-d.svg"), url("/img/main/intro-bg-d.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("/img/main/intro-triangle-d.svg"), url("/img/main/intro-bg-d@2x.jpg");
    }
  }

  .intro__content-slogan {
    margin-left: 350px;
  }

  .intro__main-title {
    width: 524px;
    margin-top: 60px;
    margin-left: 332px;
  }

  .intro__main-description {
    width: 524px;
    margin-left: 335px;
    margin-bottom: 44px;
  }
}
