.intro {
  position: relative;
  margin-top: 58px;
}

.intro__content {
  min-height: 400px;
  background-image: url("/img/images/main/intro-triangle.svg"), url("/img/images/main/intro-bg.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-color: #ffffff;
}

.intro__content-slogan {
  width: 240px;
  margin-left: 40px;
  padding-top: 20px;
  display: block;
}

.intro__main-title {
  width: 265px;
  margin: 0;
  margin-top: 32px;
  margin-left: 27px;
  padding: 0;
  text-align: center;
  font-size: $title-font-size;
  font-weight: 700;
  line-height: 26px;
}

.intro__main-description {
  width: 265px;
  text-align: center;
  margin-top: 35px;
  margin-left: 27px;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .intro {
    margin-top: 0;
  }

  .intro__content {
    min-height: 518px;
    background-image: url("/img/images/main/intro-triangle-d.svg"), url("/img/images/main/into-bg-t.jpg");
    background-position: center bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-color: #ffffff;
  }

  .intro__content-slogan {
    margin-left: 180px;
    padding-top: 70px;
    width: 460px;
    height: 350px;
  }

  .intro__main-title {
    width: 524px;
    margin-top: 47px;
    margin-left: 124px;
  }

  .intro__main-description {
    width: 524px;
    margin-top: 36px;
    margin-left: 124px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    margin-top: 0;
  }

  .intro__content {
    background-image: url("/img/images/main/intro-triangle-d.svg"), url("/img/images/main/into-bg-d.jpg");
    background-position: center bottom, center;
    background-repeat: no-repeat, no-repeat;
    background-color: #ffffff;
  }

  .intro__content-slogan {
    margin-left: 370px;
  }

  .intro__main-title {
    width: 524px;
    margin-top: 59px;
    margin-left: 354px;
  }

  .intro__main-description {
    width: 524px;
    margin-left: 354px;
    margin-bottom: 44px;
  }
}
