.main-header {
  position: relative;
}

.main-header__logo {
  position: absolute;
  top: 0;
  left: 70px;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .main-header__logo {
    left: 290px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .main-header__logo {
    left: 500px;
  }
}
