.modal {
  top: 0;
  left: 0;
  width: 320px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  &--mistake {
    position: fixed;
    display: none;
  }

  &--success {
    position: fixed;
    display: none;
  }
}

.modal__container {
  position: relative;
  margin: auto;
}


.modal__wrapper {
  width: 320px;
  position: relative;
  margin: auto;

  &--mistake {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 280px;
  }

  &--success {
    display: flex;
    flex-direction: column;
    height: 323px;
    background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 225px, #f2f2f2 225px, #f2f2f2 323px);
  }
}


.modal__title {
  margin: 0;
  padding: 0;
  font-size: $title-font-size;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 20px;
  text-align: center;

  &--mistake {
    margin-top: 45px;
    margin-bottom: 35px;
  }

  &--success {
    margin-top: 45px;
    margin-bottom: 35px;
  }
}

.modal__description {
  text-align: center;
}

.modal__button {

  height: 58px;
  padding-left: 61px;
  padding-right: 61px;
  padding-top: 18px;
  padding-bottom: 14px;

  &--mistake {
    width: 180px;
    margin-top: 28px;
    margin-bottom: 35px;
    margin-right: 70px;
    margin-left: 70px;
  }

  &--success {
    width: 280px;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

