.name-form {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 53px;
}

.name-form__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.name-form__name {
  display: block;
  color: #333333;
}

.name-form__input {
  width: 264px;
  height: 58px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 16px;
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .name-form {
    width: 343px;
    margin-top: 53px;
    border-right: 1px solid #dbdbdb;
  }

  .name-form__title {
    font-size: 21px;
  }
}

@media (min-width: $desktop-width) {
  .name-form {
    width: 543px;
    margin-top: 53px;
    border-right: 1px solid #dbdbdb;
  }

  .name-form__input {
    width: 430px;
    height: 58px;
    background-color: #f2f2f2;
    border: none;
    color: #000000;
    padding-left: 16px;
    margin-bottom: 16px;
  }
}
