.nav-menu {
  margin: 0;
  padding: 0;
  position: relative;
}

@media (max-width: $tablet-width) {
  .nav-menu--nojs .nav-menu__toggle {
    display: none;
  }

  .nav-menu--nojs .nav-menu__list {
    display: block;
    min-height: 0;
    padding-top: 100px;
  }

  .nav-menu--nojs .nav-menu__item {
    display: block;
  }

  .nav-menu__toggle {
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .nav-menu--closed .nav-menu__toggle {
    background-image: url("../img/images/header/menu/menu-button.svg");
  }

  .nav-menu--opened .nav-menu__toggle {
    background-image: url("../img/images/header/menu/menu-close.svg");
  }

  .nav-menu--opened .nav-menu__list {
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .nav-menu--closed .nav-menu__item {
    display: none;
  }
}

.nav-menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu__item {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 55px;
  background-color: $background-blue;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  text-align: center;
}

.nav-menu__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.nav-menu__text {
  display: block;
  padding-top: 17px;
}


@media (min-width: $tablet-width) {
  .nav-menu--closed .nav-menu__item {
    display: inline-block;
  }

  .nav-menu__toggle {
    display: none;
  }

  .nav-menu__list {
    display: flex;
    justify-content: center;
    width: 763px;
  }

  .nav-menu__item {
    background-color: #ffffff;
    box-shadow: none;

    &:nth-of-type(2) {
      margin-right: 153px;
    }
  }

  .nav-menu__link {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .nav-menu__toggle {
    display: none;
  }

  .nav-menu__list {
    display: flex;
    width: 1200px;
  }

  .nav-menu__item {
    background-color: #ffffff;
    box-shadow: none;
  }

  .nav-menu__link {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;

    &--current {
      color: #766357;
    }
  }
}
