.nav-menu {
  margin: 0;
  padding: 0;
  position: relative;
}

@media (max-width: 767px) {
  .nav-menu--nojs .nav-menu__toggle {
    display: none;
  }

  .nav-menu__toggle {
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 17px;
    right: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .nav-menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .nav-menu__item {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 55px;
    background-color: $background-blue;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
  }

  .nav-menu__link {
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    padding-top: 17px;
  }

  .nav-menu--closed .nav-menu__toggle {
    background-image: url("../img/header/menu/menu-button.svg");

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .nav-menu--opened .nav-menu__toggle {
    background-image: url("../img/header/menu/menu-close.svg");

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .nav-menu--opened .nav-menu__list {
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  .nav-menu--closed .nav-menu__item {
    display: none;
  }

  .nav-menu--nojs .nav-menu__list {
    padding-top: 100px;
    margin-bottom: -58px;
  }

  .nav-menu--nojs .nav-menu__item {
    z-index: 3;
    display: block;
  }
}


@media (min-width: $tablet-width) {
  .nav-menu--closed .nav-menu__item {
    display: inline-block;
  }

  .nav-menu--opened .nav-menu__item {
    display: inline-block;
  }

  .nav-menu__toggle {
    display: none;
  }

  .nav-menu__list {
    margin-top: 0;
    padding: 0;
    margin-left: 40px;
    flex-wrap: wrap;
  }

  .nav-menu__item {
    background-color: #ffffff;
    box-shadow: none;
    margin-top: 18px;
    margin-left: 9px;

    &:nth-of-type(2) {
      margin-left: 75px;
    }

    &:nth-of-type(3) {
      margin-left: 207px;
    }

    &:nth-of-type(4) {
      margin-left: 52px;
    }
  }

  .nav-menu__link {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    display: block;


    &--current {
      color: #766357;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav-menu__toggle {
    display: none;
  }

  .nav-menu__list {
    display: flex;
    margin: 0;
    margin-left: 82px;
  }

  .nav-menu__item {
    background-color: #ffffff;
    box-shadow: none;
    margin-top: 0;

    &:nth-of-type(2) {
      margin-left: 160px;
    }

    &:nth-of-type(3) {
      margin-left: 380px;
    }

    &:nth-of-type(4) {
      margin-left: 140px;
    }
  }

  .nav-menu__link {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 17px;

    &--current {
      color: #766357;
    }
  }
}
