.offer__title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin-top: 40px;
}

.offer__description {
  text-align: center;
  width: 280px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.offer__button {
  width: 284px;
  height: 58px;
  line-height: 26px;
  margin-right: 18px;
  margin-left: 18px;
  margin-top: 18px;
  margin-bottom: 50px;
}

.offer__map-wrapper {
  width: 320px;
  height: 350px;
  background-image: url("/img/main/map-mobile.jpg");
}

.offer__map {
  width: 320px;
  height: 350px;
}

.offer__whitespace {
  display: none;
}

@media (min-width: $tablet-width) {
  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .offer__title {
    font-size: 30px;
    margin-top: 60px;
  }

  .offer__description {
    width: 435px;
    margin-top: 8px;
    text-align: center;
  }

  .offer__button {
    margin-top: 28px;
    margin-bottom: 60px;
    width: 458px;
  }

  .offer__map-wrapper {
    width: 768px;
    background-image: url("/img/main/map-tablet.jpg");
  }

  .offer__map {
    width: 768px;
  }

  .offer__whitespace {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
  }

  .offer__title {
    margin-top: 60px;
  }

  .offer__description {
    width: 435px;
  }


  .offer__button {
    margin-top: 30px;
    width: 458px;
  }

  .offer__map-wrapper {
    width: 1200px;
    background-image: url("/img/main/map-desktop.jpg");
  }


  .offer__map {
    width: 1200px;
  }
}
