@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/PTSans-Bold.woff2") format("woff2");
  font-display: swap;
}

.page {
  height: 100%;
  width: 320px;
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "PTSans", sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "PTSans", sans-serif;
  font-weight: 700;
  font-size: $button-font-size;
  line-height: 26px;
  background-color: $background-blue;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
}
