.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "PTSans", sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #ffffff;
}
