.page__body {
  margin: 0;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "PTSans", sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}
