.place-form {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 59px;
}

.place-form__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.place-item__description {
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}

.place-checkbox {
  margin: 0;
  padding: 0;
}
