.place-form {
  border: none;
  padding: 0 20px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: -6px;
}

.place-form__list {
  padding: 0;
}

.place-form__label {
  position: relative;
}

.place-form__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.place-form__checkbox {
  display: block;
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
  border-radius: 4px;
  bottom: -12px;
}

.place-form__input[type="checkbox"]:checked + .place-form__checkbox {
  background-image: url("/img//form/tick.svg");
  background-repeat: no-repeat;
  background-position: 55% 60%;
  background-color: #e5e5e5;

  &:disabled {
    opacity: 0.3;
  }

  &:focus {
    border: 2px solid #e5e5e5;
  }
}

.place-form__label:focus-within .place-form__checkbox {
  outline: 4px solid #e5e5e5;
  outline-offset: 2px;
}

.place-form__description {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  margin-left: 62px;
}

.place-form__item {
  list-style-type: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .place-form {
    padding: 0;
    border-top: 1px solid #dbdbdb;
    margin-top: 30px;
  }

  .place-form__list {
    width: 510px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 28px;
    margin-left: 80px;
  }

  .place-form__label {
    width: 224px;
    height: 46px;
  }

  .place-form__title {
    font-size: 21px;
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .place-form__description {
    font-size: 18px;
    margin-left: 69px;
  }
}

@media (min-width: $desktop-width) {
  .place-form {
    margin-top: 73px;
  }

  .place-form__list {
    width: 862px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .place-form__title {
    margin-bottom: 70px;
  }

  .place-form__description {
    margin-left: 58px;
  }
}
