.place-form {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 59px;
}

.place-form__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.place-form__description {
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}

.place-form__item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .place-form {
    border-top: 1px solid #dbdbdb;
  }

  .place-form__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 153px;
    padding-right: 153px;
    flex-wrap: wrap;
  }

  .place-form__label {
    width: 224px;
    height: 46px;
  }

  .place-form__title {
    font-size: 21px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .place-form__description {
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .place-form__list {
    padding-left: 45px;
    padding-right: 45px;
  }
}
