.rate-form {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 59px;
}

.rate-form__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.rate-radio {
  margin: 0;
  padding: 0;
}

.rate-radio__item {
  list-style-type: none;
}

.rate-radio__description {
  font-size: 14px;
  font-weight: 700;
  text-transform: none;
}
