.review-form {
  margin: 0;
  padding: 0;
  position: relative;
}

.review-form__button {
  width: 280px;
  height: 58px;
  margin-top: 52px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.review-form__wrapper {
  border-top: #e2d2d2 1px solid;
}

.review-form__required {
  display: block;
  position: absolute;
  left: 160px;
  bottom: 18px;
  color: #aca9a9;
  font-size: 12px;
}

@media (min-width: $tablet-width) {
  .review-form {
    width: 648px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 6px;
  }

  .review-form__wrapper {
    border: none;
  }

  .review-form__main-form {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .review-form__wrapper-name {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .review-form__wrapper-rate {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .review-form__wrapper-place {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .review-form__wrapper-feedback {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .review-form__button {
    width: 324px;
    margin-top: 45px;
    margin-left: 0;
    margin-bottom: 60px;
  }

  .review-form__required {
    font-size: 14px;
    left: 488px;
    bottom: 75px;
    color: #000000;
  }
}

@media (min-width: $desktop-width) {
  .review-form {
    width: 960px;
    margin-left: 120px;
    margin-right: 120px;
  }

  .review-form__button {
    width: 384px;
    margin-left: 94px;
    margin-bottom: 50px;
  }

  .review-form__required {
    left: 705px;
    bottom: 65px;
    color: #000000;
  }
}
