@import "blocks/varibles.scss";
@import "blocks/page-body.scss";
@import "blocks/main-header.scss";
@import "blocks/nav-menu.scss";
@import "blocks/intro.scss";
@import "blocks/benifits.scss";
@import "blocks/advantage.scss";
@import "blocks/offer.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/catalog-intro.scss";
@import "blocks/cards.scss";
@import "blocks/catalog-offer.scss";
@import "blocks/form-intro.scss";
@import "blocks/review-form.scss";
@import "blocks/name-form.scss";
@import "blocks/contact-form.scss";
@import "blocks/rate-form.scss";
@import "blocks/place-form.scss";
@import "blocks/feedback-form.scss";
@import "blocks/modal.scss";

